<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="澜阙" />
		<!-- 作者 -->
		<meta name="revised" content="澜阙.v3, 2019/05/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>澜阙</title>

		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="shop/css/base.css">
		<link rel="stylesheet" type="text/css" href="shop/css/iconfont.css">
		<script type="text/javascript" src="shop/framework/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="shop/layui/css/layui.css">
		<script type="text/javascript" src="shop/layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="shop/css/jquery.mCustomScrollbar.css">
		<script src="shop/framework/jquery-ui-1.10.4.min.js"></script>
		<script src="shop/framework/jquery.mousewheel.min.js"></script>
		<script src="shop/framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="shop/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		
		<style>
			.layui-form{
				margin-right: 30%;
			}
		</style>

	</head>

	<body>
		<div class="cBody">
			<!--<p align="center" style="color: red" th:text="${addgoods}" th:if="${not #strings.isEmpty(addgoods)}">-->
				<!--method="post" enctype="multipart/form-data"  th:action="@{/goodsupload}"&lt;!&ndash;&ndash;&gt;-->
			<form id="addForm" class="layui-form" >
				<div class="layui-form-item">
					<label class="layui-form-label">商品名称</label>
					<div class="layui-input-block">
						<input type="text" name="goodsname" required lay-verify="required|ZHCheck" placeholder="例:新鲜砂糖桔(只允许输入中文)" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">图片</label>
					<div class="layui-input-inline shortInput">
						<input type="file" name="imgage"  placeholder="请上传图片" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">价格</label>
					<div class="layui-input-block">
						<input type="text" name="price" required lay-verify="required|ZHCheck" placeholder="例:34(只允许输入中文)" autocomplete="off" class="layui-input">/斤
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">分类</label>
					<div class="layui-input-block">
						<input type="text" name="g_class" required lay-verify="required|ZHCheck" placeholder="例：水果/坚果/果汁" autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<div class="layui-input-block">
						<button type="button" class="layui-btn" onclick="upload()" >立即提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
			
			<!-- 三级省市 插件 -->
    		<script src="shop/framework/area.js"></script>
			<script src="shop/framework/province.js"></script>
			<script>
                function upload(){
                    var form = new FormData(document.getElementById("addForm"));
//             var req = new XMLHttpRequest();
//             req.open("post", "${pageContext.request.contextPath}/public/testupload", false);
//             req.send(form);
                    $.ajax({
                        url:"/goodsupload",
                        type:"post",
                        data:form,
                        processData:false,
                        contentType:false,
                        success:function(data){
                            if (data == 1) {
                                alert("上传成功")
							}else{
                                alert("上传失败")
							}

                            window.clearInterval(timer);
                            console.log("over..");
                        },
                        error:function(e){
                            alert("错误！！");
                            window.clearInterval(timer);
                        }
                    });
                    get();//此处为上传文件的进度条
                }
			</script>

		</div>
	</body>

</html>